.checks{
    div{
        display: inline-block;
        ion-label{
            vertical-align: top;
            margin-left: 10px;
            margin-right: 40px;  
        }
    }
}

div{
    margin: 10px 0;
}


.box{
    text-align: center;
    padding-top: 10px; 
    border: 1px solid #E8E8E8;
    ion-img{
        width: 20%;
        margin: auto;
    }
}