<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>    
    <ion-title>registrationFarmer</ion-title>
  </ion-toolbar>
</ion-header>

<div class="tabs">
  <div [class.active]="tab == 'basic'" (click)="setTab('basic')">Basic</div>
  <div [class.active]="tab == 'land'" (click)="setTab('land')">Land</div>
  <div [class.active]="tab == 'equipment'" (click)="setTab('equipment')">Equipment</div>
</div>
<ion-content padding>
  <div *ngIf="tab == 'basic'">
    <h1>Welcome User</h1>
    <form [formGroup]="basicForm" (ngSubmit)="submitBasic()">
    <div class="box">
        <label for="file-input">
          <ion-img src="assets/default-thumbnail.png"></ion-img>
          <div>Add Photos</div>
        </label>
        <input id="file-input" type="file" style="display: none;"/>
    </div>
      
    <div>
      <ion-label>First Name</ion-label>
      <ion-input formControlName="firstName" placeholder="Enter First Name" class="input"></ion-input>
    </div>

    <div>
      <ion-label>Last Name</ion-label>
      <ion-input formControlName="lastName" placeholder="Enter Last Name" class="input"></ion-input>
    </div>

    <div>
      <ion-label>Mobile Number</ion-label>
      <ion-input formControlName="phoneNumber" placeholder="Enter Mobile Number" class="input"></ion-input>
    </div>

    <div>
      <ion-label>Address</ion-label>
      <ion-input formControlName="address" placeholder="Enter Address" class="input"></ion-input>
    </div>

    <div>
      <ion-label>City</ion-label>
      <ion-input formControlName="city" placeholder="Enter Location" class="input"></ion-input>
    </div>

    <div>
      <ion-label>State</ion-label>
      <ion-input formControlName="state" placeholder="Enter State" class="input"></ion-input>
    </div>

    <div>
      <ion-label>Pincode</ion-label>
      <ion-input formControlName="pin" placeholder="Enter Pincode" class="input"></ion-input>
    </div>

    <div style="text-align: end">
        <ion-button type="submit" [disabled]=false>Submit</ion-button>
      </div>
    
  </form>
  </div>

  <div *ngIf="tab == 'land'">
    <!-- template start -->
    <ion-card>
      <ion-row>
        <ion-col size="4">
          <img src='assets/img.png' alt="land image" />
        </ion-col>
        <ion-col>
          <ion-content>
              <ion-card-title>Mango Farm</ion-card-title>
              <div class="first">
                  <ion-card-subtitle>Willing to</ion-card-subtitle>
                  Sell  
              </div>
              <div>
                  <ion-card-subtitle>Quantity</ion-card-subtitle>
                  3  
              </div>
          </ion-content>
        </ion-col>
      </ion-row>
    </ion-card>
    <!-- template end -->
    <ion-card routerLink="/registration-farmer-land" routerDirection="forward">
      <ion-row>
        <ion-col size="4">
          <img src='assets/default-thumbnail.png' alt="land image" />
        </ion-col>
        <ion-col>
          <ion-content>
              <ion-card-title>Add Land</ion-card-title>
          </ion-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div *ngIf="tab == 'equipment'">
        <!-- template start -->
        <ion-card>
            <ion-row>
              <ion-col size="4">
                <img src='assets/img.png' alt="land image" />
              </ion-col>
              <ion-col>
                <ion-content>
                    <ion-card-title>Equipment 1</ion-card-title>
                    <div class="first">
                        <ion-card-subtitle>Willing to</ion-card-subtitle>
                        Rent  
                    </div>
                    <div>
                        <ion-card-subtitle>Quantity</ion-card-subtitle>
                        2
                    </div>
                </ion-content>
              </ion-col>
            </ion-row>
          </ion-card>
          <!-- template end -->
          <ion-card routerLink="/registration-farmer-equipments" routerDirection="forward">
              <ion-row>
                <ion-col size="4">
                  <img src='assets/default-thumbnail.png' alt="land image" />
                </ion-col>
                <ion-col>
                  <ion-content>
                      <ion-card-title>Add Equipment</ion-card-title>
                  </ion-content>
                </ion-col>
              </ion-row>
            </ion-card>
  </div>

</ion-content>