.tabs{
    background: #86C34A;
    color: #ffffffad;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div{
        padding: 10px;
        flex: 1;
        text-align: center;
    }
    .active{
        color: white;
        border-bottom: 2px solid white;
    }
}

ion-content div{
    margin: 15px 0;
}


ion-card{
    margin-left: 0;
    margin-right: 0;  

    &-title{
        margin: 5px 0;
    }
    div{
        display: inline-block;
        padding-right: 10px;
        &.first{
            border-right: 1px solid black;
            margin-right: 10px; 
        }
    }
}


.box{
    text-align: center;
    padding-top: 10px; 
    border: 1px solid #E8E8E8;
    ion-img{
        width: 20%;
        margin: auto;
    }
}