<ion-header>
  <ion-toolbar>
    <ion-title>homeInvester</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="filters" padding>
    <div>
      <div>Looking for</div>
      <button class="roundedButton">Land</button>
      <button class="roundedButton">Equipment</button>
    </div>
    <div>
      <div>To</div>
      <button class="roundedButton">Rent</button>
      <button class="roundedButton">Buy</button>
    </div>
  </div>

<div class="wrapper" padding>
  <ion-card>
    <img src='https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500' />
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>
        <ion-card-title>hello</ion-card-title>
        <ion-card-subtitle>welcome</ion-card-subtitle>
      </ion-label>
    </ion-item>
    <ion-card-content>
      <div class="first">
          <ion-card-subtitle>Willing to</ion-card-subtitle>
          Sell  
      </div>
      <div>
          <ion-card-subtitle>Quantity</ion-card-subtitle>
          3  
      </div>
      <div class="last">
          <button class="roundedButton" >Intrested</button>
      </div>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>