
ion-card{
    margin: 16px;
    div{
        display: inline-block;
        padding-right: 10px;
        width: 25%;
        &.first{
            border-right: 1px solid black;
            margin-right: 10px; 
        }
        &.last{
            width: 45%;
            vertical-align: bottom;
            text-align: end;
            padding: 0;
            button{
                margin: 0;
            }
        }
    }
}

ion-content{
    --background: #86C34A;
}

.wrapper{
    background: white;
    border-radius: 30px 30px 0 0;
    padding: 20px 0;
    margin-top: 10px; 
}

.filters{
color: white;
.roundedButton{
    background: #abd581;
    border-color: #abd581;
    color: white;
    &.active{
        background: white;
        border-color: white;
        color: #86C34A;
    }
}
}

.roundedButton{
    margin-top: 10px; 
}