<ion-content padding>
  <div style="text-align: center">
    <img
      src='assets/logo.png'
      alt='logo' />
  </div>

  <h1>Welcome</h1>
  <div>
    <ion-radio-group (ionChange)="formType()">
      <div>
        <ion-radio value="signIn" checked></ion-radio>
        <ion-label>SignIn</ion-label>
      </div>
      <div>
        <ion-radio value="signUp"></ion-radio>
        <ion-label>SignUp</ion-label>
      </div>
    </ion-radio-group>
  </div>
  <div>
    <ion-label>as</ion-label>
  </div>
  <div>
    <button class="roundedButton" [class.active]="userType == 'Farmer'" (click)="setUserType('Farmer')">Farmer</button>
    <button class="roundedButton" [class.active]="userType == 'Investor'" (click)="setUserType('Investor')">Investor</button>
    <button class="roundedButton" [class.active]="userType == 'Others'" (click)="setUserType('Others')">Others</button>
    <button class="roundedButton" [class.active]="userType == 'Admin'" (click)="setUserType('Admin')">Admin</button>
  </div>

  <!-- signin -->
  <div *ngIf="signin; else signup">
    <form [formGroup]="signinForm" (ngSubmit)="checkSignIn()">
      <div>
        <ion-label>User Id</ion-label>
        <ion-input formControlName="usernameOrEmail" type="text" inputmode="text" placeholder="Enter User Id" class="input"></ion-input>
      </div>
      <div>
        <ion-label>Password</ion-label>
        <ion-input formControlName="password" type="password" inputmode="password" placeholder="Enter Password" class="input"></ion-input>
      </div>
      
      <div style="text-align: end">
          <ion-button type="submit" [disabled]="!signinForm.valid">Sign In</ion-button>
        </div>
      </form>
  </div>

  <ng-template #signup>
 <!-- signup -->
 <form [formGroup]="signupForm" (ngSubmit)="checkSignUp()">
 <div>
    <ion-label>First Name</ion-label>
    <ion-input formControlName="firstName" type="text" inputmode="text" placeholder="Enter Name" class="input"></ion-input>
  </div>
  <div>
      <ion-label>Last Name</ion-label>
      <ion-input formControlName="lastName" type="text" inputmode="text" placeholder="Enter Name" class="input"></ion-input>
    </div>
    <div>
        <ion-label>User Name</ion-label>
        <ion-input formControlName="username" type="text" inputmode="text" placeholder="Enter Name" class="input"></ion-input>
      </div>
  <div>
    <ion-label>Mobile Number</ion-label>
    <ion-input formControlName="phoneNumber" type="tel" inputmode="tel" placeholder="Enter Mobile Number" class="input"></ion-input>
  </div>
  <div>
    <ion-label>Email ID</ion-label>
    <ion-input formControlName="email" type="text" inputmode="email" placeholder="Enter Email ID" class="input"></ion-input>
  </div>
  <div>
      <ion-label>Password</ion-label>
      <ion-input formControlName="password" type="text" inputmode="text" placeholder="Enter Name" class="input"></ion-input>
    </div>
  <div style="text-align: end">
      <ion-button type="submit" [disabled]="!signupForm.valid">Sign Up</ion-button>
    </div>
    </form>
  </ng-template>

</ion-content>