<ion-content padding>
  <div style="text-align: center">
    <img
      src='https://public-v2links.adobecc.com/8a3f4657-e7ff-40e6-6d9e-3baa12b97b6d/component?params=component_id:33bf4a99-19c9-41cc-8790-ee7195247422&params=version:0&token=1570117612_da39a3ee_4c66f50c80c3785b1cfd74f70a5284bde6a7e9bb&api_key=CometServer1'
      alt='logo' />
  </div>

  <h1>Welcome</h1>
  <div>
    <ion-radio-group (ionChange)="formType()">
      <div>
        <ion-radio value="signIn" checked></ion-radio>
        <ion-label>SignIn</ion-label>
      </div>
      <div>
        <ion-radio value="signUp"></ion-radio>
        <ion-label>SignUp</ion-label>
      </div>
    </ion-radio-group>
  </div>
  <div>
    <ion-label>as</ion-label>
  </div>
  <div>
    <button class="roundedButton" [class.active]="userType == 'Farmer'" (click)="setUserType('Farmer')">Farmer</button>
    <button class="roundedButton" [class.active]="userType == 'Invester'" (click)="setUserType('Invester')">Invester</button>
    <button class="roundedButton" [class.active]="userType == 'Others'" (click)="setUserType('Others')">Others</button>
    <button class="roundedButton" [class.active]="userType == 'Admin'" (click)="setUserType('Admin')">Admin</button>
  </div>

  <!-- signin -->
  <div *ngIf="signin; else signup">
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <div>
        <ion-label>User Id</ion-label>
        <ion-input formControlName="userId" type="text" inputmode="text" placeholder="Enter User Id" class="input"></ion-input>
      </div>
      <div>
        <ion-label>Password</ion-label>
        <ion-input formControlName="password" type="password" inputmode="password" placeholder="Enter Password" class="input"></ion-input>
      </div>
      
      <div style="text-align: end">
          <ion-button type="submit" [disabled]="!signinForm.valid">Submit</ion-button>
        </div>
      </form>
  </div>

  <ng-template #signup>
 <!-- signup -->
 <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
 <div>
    <ion-label>Name</ion-label>
    <ion-input formControlName="name" type="text" inputmode="text" placeholder="Enter Name" class="input"></ion-input>
  </div>
  <div>
    <ion-label>Mobile Number</ion-label>
    <ion-input formControlName="number" type="tel" inputmode="tel" placeholder="Enter Mobile Number" class="input"></ion-input>
  </div>
  <div>
    <ion-label>Email ID</ion-label>
    <ion-input formControlName="email" type="text" inputmode="email" placeholder="Enter Email ID" class="input"></ion-input>
  </div>
  <div style="text-align: end">
      <ion-button type="submit" [disabled]="!signupForm.valid">Submit</ion-button>
      <ion-button type="submit" [disabled]="signupForm.valid">Submit</ion-button>
    </div>
    </form>
  </ng-template>

</ion-content>