<ion-header>
  <ion-toolbar>
    <ion-title>registrationInvester</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1>Welcome Siva</h1>

    <div>
      <ion-label>First Name</ion-label>
      <ion-input placeholder="Enter First Name" class="input"></ion-input>
    </div>

    <div>
      <ion-label>Last Name</ion-label>
      <ion-input placeholder="Enter Last Name" class="input"></ion-input>
    </div>

    <div>
      <ion-label>Mobile Number</ion-label>
      <ion-input placeholder="Enter Mobile Number" class="input"></ion-input>
    </div>

    <div>
      <ion-label>Location</ion-label>
      <ion-input placeholder="Enter Location" class="input"></ion-input>
    </div>

    <div>
      <ion-label>Address</ion-label>
      <ion-input placeholder="Enter Address" class="input"></ion-input>
    </div>

    <div>
      <ion-label>Pincode</ion-label>
      <ion-input placeholder="Enter Pincode" class="input"></ion-input>
    </div>

    <div>
      <ion-label>State</ion-label>
      <ion-input placeholder="Enter State" class="input"></ion-input>
    </div>

    <div>
      <ion-label>Country</ion-label>
      <ion-input placeholder="Enter Country" class="input"></ion-input>
    </div>
    <div style="text-align: end">
        <ion-button>Save</ion-button>
        <ion-button class="disabled">Submit</ion-button>
      </div>
</ion-content>
