<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>registrationInvester</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1>Welcome User</h1>
    <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
    <div>
      <ion-label>First Name</ion-label>
      <ion-input formControlName="firstName" placeholder="Enter First Name" class="input"></ion-input>
    </div>

    <div>
      <ion-label>Last Name</ion-label>
      <ion-input formControlName="lastName" placeholder="Enter Last Name" class="input"></ion-input>
    </div>

    <div>
      <ion-label>Mobile Number</ion-label>
      <ion-input formControlName="number" placeholder="Enter Mobile Number" class="input"></ion-input>
    </div>

    <div>
      <ion-label>Location</ion-label>
      <ion-input formControlName="location" placeholder="Enter Location" class="input"></ion-input>
    </div>

    <div>
      <ion-label>Address</ion-label>
      <ion-input formControlName="address" placeholder="Enter Address" class="input"></ion-input>
    </div>

    <div>
      <ion-label>Pincode</ion-label>
      <ion-input formControlName="pincode" placeholder="Enter Pincode" class="input"></ion-input>
    </div>

    <div>
      <ion-label>State</ion-label>
      <ion-input formControlName="state" placeholder="Enter State" class="input"></ion-input>
    </div>

    <div>
      <ion-label>Country</ion-label>
      <ion-input formControlName="country" placeholder="Enter Country" class="input"></ion-input>
    </div>
    <div style="text-align: end">
        <ion-button type="submit" [disabled]="!regForm.valid">Save</ion-button>
        <ion-button class="disabled">Submit</ion-button>
      </div>
    </form>
</ion-content>
