<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>    
    <ion-title>detailsInvester</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- slides start -->
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <ion-img src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></ion-img>
        </ion-slide>
        <ion-slide>
            <ion-img src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></ion-img>
        </ion-slide>
        <ion-slide>
            <ion-img src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></ion-img>
        </ion-slide>
      </ion-slides>
      <!-- slides end -->
  
      <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <ion-label>
            <ion-card-title>hello</ion-card-title>
            <ion-card-subtitle>welcome</ion-card-subtitle>
          </ion-label>
          <ion-avatar slot="end">
              <ion-icon name="share" size="large"></ion-icon>
            </ion-avatar>
        </ion-item>
        <ion-item>
            <div class="first">
                <ion-card-subtitle>Willing to</ion-card-subtitle>
                Sell  
            </div>
            <div>
                <ion-card-subtitle>Quantity</ion-card-subtitle>
                3  
            </div>
        </ion-item>

        <ion-item lines="none">
            <ion-label>
                <ion-card-title>hello</ion-card-title>
                <ion-card-subtitle>welcome</ion-card-subtitle>
              </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <ion-card-title>hello</ion-card-title>
                <ion-card-subtitle>welcome</ion-card-subtitle>
              </ion-label>
        </ion-item>
        <div style="display:block; text-align:end;">
            <button class="roundedButton">Interested</button>
        </div>
</ion-content>
